*~
*.orig
*CVS*
*.vdi
*.iso
tmp
ver-local.sh
extra*
*-amd64
*.swp
*-extra
*tar.gz
*.core
virtual*
notas
disk*
CVS
*.raw
*.ewiki
*.img
*.fs
APRENDIENDODEJESUS*
AprendiendoDeJesus-*usb
blanco
pruebas/file
pruebas/entorno
ref/
zsh_es/
