#!/bin/ksh
#

servicio="${TRUEPREFIX}/bin/git servicio --detach"
servicio_user="_gitservicio"

. /etc/rc.d/rc.subr

pexp="${TRUEPREFIX}/libexec/git/git-servicio --detach${servicio_flags:+ ${servicio_flags}}"
rc_reload=NO

rc_cmd $1
