#!/bin/sh
#
# $OpenBSD: postgresql.rc,v 1.9 2012/06/01 15:06:46 ajacoutot Exp $

service="${TRUEPREFIX}/bin/pg_ctl"
service_flags="-l /var/postgresql/logfile"
service_user="_postgresql"

. /etc/rc.d/rc.subr

datadir="/var/postgresql/data"

rc_check() {
	${rcexec} "${service} -D ${datadir} status"
}

rc_reload() {
	${rcexec} "${service} -D ${datadir} reload"
}

rc_start() {
	rm -f ${datadir}/postmaster.pid
	${rcexec} "${service} -D ${datadir} start ${service_flags}"
}

rc_stop() {
	${rcexec} "${service} -D ${datadir} stop -m fast" || \
		${rcexec} "${service} -D ${datadir} stop -m immediate"
}

rc_cmd $1
